[Desktop Entry]
Name=Anjuta
Name[pl]=Anjuta
Comment=Integrated Development Environment
Comment[pl]=Zintegrowane środowisko programowania
Exec=anjuta
Icon=/usr/X11R6/share/pixmaps/anjuta/anjuta_icon.png
Terminal=0
Type=Application
# vi: encoding=utf-8
